.fibo-square {
  transform: translate3d(0,0,0);
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  display: inline-block;
  color: #fff;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff1a00+0,720000+100 */
  background: #ff1a00; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ff1a00 0%, #720000 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #ff1a00 0%,#720000 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #ff1a00 0%,#720000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#720000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  text-align: center;
  &.top {
    bottom: 100%;
    right: 0;
  }
  &.left {
    right: 100%;
    top: 0;
  }
  &.bottom {
    top: 100%;
    left: 0;
  }
  &.right {
    left: 100%;
    bottom: 0;
  }
}
